
html, body {
  margin:0px; padding:0px;
  font-family: 'Exo', sans-serif;
}

::-webkit-input-placeholder {
  font-style: italic;
  padding-left: 150px;
}

input[type="text"].state::-webkit-input-placeholder {
  font-size: 11px;
  padding-left: 1px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: none;
  border: 2px solid #344152;
}


form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  padding: 1em;
  color: #7F7F7F;
}

fieldset {
  border: none;
}

label {
  margin: 10px;
}


textarea, input {
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  background-color: #344152;
  color: white;
  width: 100%;
}

.header h2 {
  margin-bottom: 1px;
}

.header p {
  font-size: 16px;
  width: 50%;
  text-align: center;
  color: #7F7F7F;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}

.header h1 {
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

.info {
  margin-left: 90px;
}

.contact_info input {
  width: 100%;
}

.contact_info {
  padding-top: 60px;
  padding-bottom: 80px;
  width: auto;
  border-bottom: 3px solid black
}

.contact_info legend {
  font-weight: bold;
  color: black;
  padding-top: 30px;
}

.name,
.email,
.phone,
.street,
.city,
.state,
.zip {
  background-color: #F5F5F5;
  border: none;
  padding: 15px;
  margin: 10px;
}

.newsletter {
  width: auto;
  padding-top: 20px;
  margin: 0 auto;
}

.newsletter legend {
  color: black;
  font-weight: bold;
}

.news_legend {
  padding-top: 50px;
}


.format legend {
  color: black;
  font-weight: bold;
  padding-top: 30px;

}

.text,
.button {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.button {
  width: auto;
}

.html,
.css,
.java,
.html_news,
.plaintext {
  margin-top: 20px;
}

.text {
  background-color: #F5F5F5;
  border: none;
  padding: 40px;
  margin-top: 15px;
}

.button {
  margin-top: 15px;
  background-color: #20BF9F;
  font-size: 20px;
  border: none;
  text-decoration: none;
  color: white;
  padding: 15px;
}


@media (min-width: 768px) {
  ::-webkit-input-placeholder {
    font-style: italic;
    padding-left: 280px;
  }

  .info {
    margin: 0 auto;
  }

  .contact_info label {
    display: inline-block;
    width: 20%;
  }

  .contact_info input {
    display: inline-block;
    width: 50%;
  }

  .contact_info {
    margin-bottom: 50px;
  }

  .newsletter {
    width: 100%;
  }

  .text {
    width: 50%;
  }

  .button {
    width: auto;
  }
}
