
html, body {
  margin:0px; padding:0px;
  font-family: 'Exo', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  padding: 1em;
  color: #7F7F7F;
}

fieldset {
  border: none;
}

label {
  margin: 10px;
}


textarea, input {
  outline: none;
}

::-webkit-input-placeholder {
  font-style: italic;
  padding-left: 150px;
}

input[type="text"].state::-webkit-input-placeholder {
  font-size: 11px;
  padding-left: 1px;
  font-style: none;
}

input[type=text]:focus, textarea:focus {
  box-shadow: none;
  border: 2px solid #344152;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h2 {
  margin-bottom: 1px;
}

.header p {
  font-size: 16px;
  width: auto;
  text-align: center;
  color: #7F7F7F;
  padding-bottom: 20px;
}

.header h1 {
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

.info legend {
  padding-top: 50px;
  padding-bottom: 40px;
  font-weight: bold;
  padding-left: 7px;
  color: black;
  width: auto;
}

.info input {
  width: 100%;
}

.name,
.email,
.phone,
.street,
.city,
.state,
.zip {
  background-color: #F5F5F5;
  border: none;
  padding: 15px;
  margin: 10px;
}

.newsletter {
  margin-top: 50px;
  border-top: 2px solid black;
  width: 60%;
  padding-top: 75px;
}

.html,
.css,
.java {
  margin-top: 20px;
}

.html_news,
.plaintext {
  margin-top: 20px;
}

.area {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.text {
  background-color: #F5F5F5;
  border: none;
  padding: 40px;
  margin-top: 15px;
}

.button {
  margin-top: 15px;
  background-color: #20BF9F;
  font-size: 20px;
  border: none;
  text-decoration: none;
  color: white;
  padding: 15px;
}


@media (min-width: 768px) {
  ::-webkit-input-placeholder {
    font-style: italic;
    padding-left: 600px;
  }
  .info {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .info label {
    width: 20%;

  }

  .info input {
    width: 70%;
  }
}
